@import '../../base';
.video-wrapper{
    position: relative;
    video:-webkit-full-screen {
        width: 100% !important; 
        height: 100% !important;
        }

    video:-moz-full-screen {
        width: 100% !important;
        height: 100% !important;
    }

    video:-ms-fullscreen {
        width: 100% !important;
        height: 100% !important;
    }

    video:fullscreen {
        width: 100% !important;
        height: 100% !important;
    }
}
.responsive-video {
    width: 100%;
    border-radius: 10px; 
}
.responsive-video.full-screen {
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: 100;
    position: fixed;
    }
.controls-wrapper{
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: $text-color;
    position: absolute;
    left: 0;
    width: 100%;
    bottom:0;
    cursor: pointer;
    background-color: rgb(16, 12, 12,0.9);
    padding: 3% 2% 1% 2%;
    opacity: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &.show{
        opacity: 1;
    }
   
    .video-timeline{
        margin-bottom: 2%;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
            cursor: pointer;

        span{
            background-color: transparent;
        }
       .progress-area{
            margin: 0 3%;
            background-color: transparent;
            width: 100%;
            display:flex;
            height: 3px;
            justify-content: start;
            align-items: center;
            border-radius: 7px;
            position: relative;
            background-color: #6e6f71;
            cursor: pointer;
           
            .progress-bar{
                height: 3px;
                width: 0%;
                border-radius: 7px;
                background-image: linear-gradient(to right,#ed213e 70%,#f39b65 100%);
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
                
            }
            input{
                width: 100%;
                appearance: none;
                height: 3px;
                background-color: transparent;
                z-index: 5;
                 &::-webkit-slider-thumb{
                        appearance: none;
                        background-color: $black-primary;
                        border: 3px solid #f39b65;
                        height: 0px;
                        width: 0px;
                        border-radius: 50%;
                        cursor: pointer;
                        transition: all 0.2s ease;
                    }
                &::-webkit-slider-thumb:hover{
                    box-shadow: 0 0 0 13px rgba(255, 142, 14, 0.3);
                    
                }
            }
             &:hover input::-webkit-slider-thumb{
                   height: 15px;
                width: 15px;
                }
        }
    }
    .video-controls{
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg{
                
            &:hover{
                color: #ed213e;
        }
            }
        *{
             background-color: transparent;

        }
        
        .left-options{
            display: flex;
            align-items: center;
            width: 50%;
            .speaker{
                margin-left: 5%;
            }
            .range-box{
                width: 25%;
                display: flex;
                justify-content: center;
                align-content: center;
                position: relative;
                input{
                    appearance: none;
                    height: 2px;
                    width: 100%;
                    background-color: #6e6f71;
                    border-radius: 6px;
                    &::-webkit-slider-thumb{
                        appearance: none;
                        background-color: #ed213e;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        cursor: pointer;
                        z-index: 5;
                    }
                    &::-webkit-slider-thumb:hover{
                        box-shadow: 0 0 0px 10px rgb(242, 2, 38,0.2);
                        
                    }
                }
                .line{
                    position: absolute;
                    height: 2px;
                    border-radius: 6px;
                    left: 0;
                    width: 46%; 
                    background-color:#ea037d ;                   
                }
            }
            & > *{
                margin-right: 0.7rem;
                cursor: pointer;
            }


        }
        .right-options{
            position: relative;
            width: 50%;
            justify-content: end;
            background-color: transparent;
            & > *{
                margin-left: 0.7rem;
                cursor: pointer;
            }
            .options{
                background-color: rgb(47, 46, 46);
                flex-direction: column;
                position: absolute;
                justify-content: end;
                bottom:175%;
                right:0;
                border-radius: 10px;
                display: none;
                span{
                    font-size: 0.7rem;
                    padding: 0.5rem 5rem 0.5rem 2rem;
                    &:hover{
                        background-color: #ed213e;
                    }
                    &.active{
                         background-color: #ed213e;
                    }
                }
                &.show{
                     display: flex;
                }
            }
        }
    }    
    
}
