@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import '../../base';
.history-page{
    padding: 2rem 10% 2rem 5%;
    .page-title{
        font-size: 2rem;
        color: $text-color;
        font-weight: 500;
    }
    .videos{
        img{
            width: 300px;
            border-radius: 15px;
        }
        .item{
            cursor: pointer;
            position: relative;
            .video-info{
                margin-left: 2%;
                margin-right: 40px;
                *{
                    margin-bottom: 0.2rem;
                }
            .title{
                font-size: 1.4rem;
                color: $text-color;
                font-weight: 600;
                max-height: 5rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
              .channelTitle-view{
                color: gray;
                margin:10px 0;
                .view-icon{
                    color: #b71c24;
                }
                .check-icon{
                    color:#2db235 ;
                }
            }
            .descriptions{
                font-size: 1rem;
                color: gray;
                font-weight: 400;
                height: 3rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
           

            }
             .delete-button{
                color: $text-color;
                position: absolute;
                right: 0px;
                top: 50%;
                border-radius: 50%;
                padding: 5px;
                font-size: 3rem;
                font-weight: 700;
                border: 1px solid $text-color;
                cursor: pointer;
                &:hover{
                    background-color:yellow;
                    color: black;
                    box-shadow: $red-shadow;

                }
            }
        }
    }
}
@media only screen and (max-width:$breakpoint-md) {
.history-page{
    padding: 2rem 1% 2rem 1%;
    .videos{
        img{
            width: 250px;
            border-radius: 15px;
        }
    }
    }
   
}
