@import '../../base';
.video-item{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(39, 36, 36);
    margin-bottom: 1rem;
    border-radius: 13px;
    &:hover{
        background-color: #333336;
        }
    *{
        background-color: transparent;
    }

    .video-thumbnail{
        width: 100%;
        height: 20%;
        border-radius: 13px;
        object-fit: fill;
    }
    .video-info{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        
        .video-title{
                color: $text-color;
                font-size:1.3rem;
                font-weight: 500;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
        }
        .view-icon{
            color: #b71c24;
        }
        .time-icon{
            color: #98aae0;
        }
        .check-icon{
            color:#2db235 ;
        }
        .video-view{
            color:#949498;
            font-size: 1.1rem;
            display: flex;
            align-items: center;
        }
        .channel-title{
            color:#949498;
            font-size: 1.2rem;
            font-family: "Poppins",sans-serif;
            font-weight: 500;
        }
        .video-date{
            color:#949498;
            font-size: 1.1rem
        }
}
}