@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import '../../base';
.app_container{
    // display: flex;
    margin-left: 90px;
    transition: all 0.2s ease;
    padding: 1rem;
    position: relative;

    &.sidebar-active{
        margin-left: 190px;
    }
}
.video-container{
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cant-find-container{
  width: 100%;
  height: 100vh;
  color: $text-color;

}
.primary {
  width: 68%; 
  max-width: 1200px; 
  height: fit-content;

  svg{
    background-color: transparent;
  }
  .channel-thumbnail{
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  
  .info-section{
     .time-diff{
        color: #9d9c9c;
      }
    .views-span{
      color: $text-color;
    }
    .heart-icon{
      color: #ff0044;
    }
    .video-title{
      font-size: 1.6rem;
      color: $text-color;
      font-family: "Roboto",sans-serif;
     
    }
    .view-icon{
          color: #b71c24;
      }
    .top{
      justify-content: space-between;
      .channel-title{
        font-size: 1.2rem;
        font-weight: 600;
        color: $text-color;
      }
      span{
        color: #aaaaaa;
      }
      button{
        padding: 0.5rem 1.2rem;
        border-radius: 30px;
        color: $text-color;
        margin-left: 0.5rem;
        border: none;
        background-color: #272727;
        font-weight: 500;
      }
      .right{
          button{
            &:hover{
              background-color: #363535;
            }
          }
          .save-button{
            &.active{

              background-color: $text-color;
              color: black;
            }
          }
        .like-section{
        
          .like{
            padding: 0.5rem 0 0.5rem 1.2rem;
            border-radius: 0;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            &.active{
              background-color: $text-color;
              color: black;
            }
            &::after{
              content: "";
              height: 100%;
              width: 1px;
              margin-left: 0.7rem;
              background-color: $text-color;
            }
          }
          .dislike{
            padding: 0.5rem 1.2rem 0.5rem 0.7rem;
            border-radius: 0;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
          }
        }
      }
      
      
    }

    .bottom{
        padding: 0.7rem;
        background-color: #272727;
        color:$text-color;
        border-radius: 10px;
        div{background-color: transparent;}
        p{ background-color: transparent;}
        span{background-color: transparent;}
        .channel-title{
          font-weight: 500;
          font-size: 18px;
        }
        .channel-thumbnail{
          width: 50px;
          height: 50px;
        }
        .channel-icon{
            color:#2db235 
        }
        .subcriber-count{
          color: rgb(168, 165, 165);
        }
        .subscriber-button{
          color: black;
          background-color: $text-color;
          font-weight: 600;
          padding: 15px;
          font-size: 14px;
          border: none;
          color: #fdedf2;
          border-radius: 10px;
          background-color: #fe3636;
          cursor: pointer;
          &:hover{
            background-color:  #ff0000
          }
          &.active{
              background-color: rgb(148, 200, 69);
              color: black;
             &:hover{
              background-color: rgb(155, 215, 66);

             }
          }
        }
    }
  }

  .comment-section{
    .comments-count{
      font-size: 1.3rem;
      color: $text-color;
      font-weight: 500;
      margin-bottom: 1rem;
    }
 

  }
}



.secondary{
  width: 30%;
  .video-item{
    margin-bottom: 1rem;
    flex-direction: row;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.7rem;
    &:hover{
      background-color: #212121;

    }
  }
  img{
    width: 56%;
    border-radius: 10px;
  }
  .video-info{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0;
    margin-left: 0.7rem;
    background-color: transparent;
    .video-info-bottom{
      margin-top: 0.5rem;
      background-color: transparent;

    }
     .view-icon{
            color: #b71c24;
        }
        .time-icon{
            color: #98aae0;
        }
        .check-icon{
            color:#2db235 ;
        }
    .title{
      font-size: 1rem;
      color: $text-color;
      background-color: transparent;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

    }
    .time{
      margin-left: 0.3rem;
      
    }
    span{
      font-size: 0.9rem;
      font-family: "Roboto",sans-serif;
      color: #aaaaaa;
      background-color: transparent;

    }
  }
  .loading-box{
    width: 100%;
    display: flex;
    justify-content: center;
    img{
      height: 100px;;
    }
  }
}
@media only screen and (max-width:1300px) {
.primary {
        
    width: 64%;
}
.secondary{
  width: 34%;
}
}
@media only screen and (max-width:1050px) {
.primary {
        
    width: 60%;
}
.secondary{
  width: 38%;
}
}
@media only screen and (max-width:$breakpoint-md) {
.primary {
        
    width: 100%;
}
.secondary{
  width: 100%;
}

}