@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import '../../base';
.videosLiked-page{
    padding: 1rem 5% 2rem 1%;
    .page-content{
        display: flex;
        flex-direction: row;
        
    }
    .left-block{
        overflow: hidden;
        margin-bottom: 20px;
        border-radius: 10px;
        height: 100vh;
        width: 350px;
        position: fixed;
            .background-blur{
                background-color: #7713a9;
                z-index: 2;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.2;
            }
        .background-wrapper{
        background-color:#86f507;
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: -50%;
        z-index: 2;
        filter: blur(20px);
        width: 100%;
        .background-img{
            height: 70vh;   
            background-color: #131314;
        }
        }
        .left-content{
            z-index: 3;
            width:90%;
            margin: 8% 5%;
            background-color: transparent;
            overflow: hidden;
        
            .image-showing{
                width: 100%;
                border-radius: 10px;
                height: 200px;
                margin-bottom: 1rem;
    
            }
            .page-title{
                font-size: 1.5rem;
                color: $text-color;
                font-family: "Poppins",sans-serif;
                font-weight: 500;
                opacity: 1;
                z-index: 3;
                background-color: transparent;
        }
            span{
                background-color: transparent;
                color: $text-color;
            }
        }
    }
    
    .right-block{
        margin-left: 372px;
        width: 80%;
        position: relative;
        .filter{
            padding: 1rem;
            color: $text-color;
            height: 70px;
            position: fixed;
            display: flex;
            top:73px;
            z-index: 4;
            width: 100%;
            box-sizing: border-box;
            .button{
                cursor: pointer;
            }
            .filter-expand{
                position: absolute;
                width: 200px;
                top: 100%;
                left:-20%;
                max-height: 0;
                visibility: hidden;
                border-radius: 7px;
                transition: all 0.5s ease;
                color: transparent;
                background-color: rgb(40, 39, 39);
                &.active{
                max-height: 500px;
                visibility:  visible;
                color: $text-color;
                
                    
                }
                *{
                    background-color: transparent;
                    padding:1rem;
                }
                span{
                    cursor: pointer;

                    &:hover{
                        background-color: rgb(81, 80, 80);
                    }
                }
            }
        }

    }
    .videos{
        margin-top: 40px;
        img{
            width: 300px;
            border-radius: 15px;
        }
       
        .item{
            cursor: pointer;
            background-color: $black-secondary;
            padding: 15px;
            border-radius: 15px;
            position: relative;
            &:hover{
                background-color: rgb(69, 68, 68);
            }
            *{
                    background-color: transparent;

            }
             .delete-button{
                color: $text-color;
                position: absolute;
                right: 20px;
                top: 40%;
                border-radius: 5px;
                padding: 5px;
                font-weight: 700;
                border: 1px solid $text-color;
                cursor: pointer;
                &:hover{
                    background-color: $red-priamry;
                    box-shadow: $red-shadow;

                }
            }
            .video-info{
                margin-left: 2%;
                margin-right: 22px;
                
                *{
                    margin-bottom: 0.2rem;

                }
            .title{
                font-size: 1.4rem;
                color: $text-color;
                font-weight: 600;
                max-height: 5rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .channelTitle-view{
                color: gray;
                margin:10px 0;
                .view-icon{
                    color: #b71c24;
                }
                .check-icon{
                    color:#2db235 ;
                }
            }
            .descriptions{
                font-size: 1rem;
                color: gray;
                font-weight: 400;
                height: 3rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            }
        }
    }
}
@media only screen and (max-width:1100px) {
.videosLiked-page{
        .page-content{
                flex-direction: column;
        }
        .right-block{
            margin-left: 0;
            width: 100%;
        }
        .left-block{
            position: relative;
            width: 100%;
            .left-content{
              .image-showing{
                height: 400px;
    
            }
            }

        }
       .videos{
            img{
                width: 300px;
            }
        }
        .delete-button{
            right: 5px;
            top:0
         }
}

}
@media only screen and (max-width:$breakpoint-sm) {
.videosLiked-page{
    
        .left-block{
            .left-content{
                .image-showing{
                    height: 200px;

                }
            }}
   
       .videos{
            img{
                width: 200px;
            }
        }
      
}

}